        .accordion {
            display: none;
        }
        
        @media(max-width: 800px) {
            .accordion {
                display: block;
                margin-bottom: 27.49px;
            }
            .accordion__title {
                font-size: 20px;
                line-height: 27px;
                text-align: center;
            }
            .accordion-item-header {
                display: flex;
                justify-content: space-between;
                padding: 10px 15px;
                border-bottom: 1px solid #00468533;
            }
            .accordion-item-header-text {
                margin-left: 0;
                color: #004685;
                cursor: pointer;
                border-bottom: 1px solid #00468533;
                &:hover {
                    color: #00468575;
                }
            }
            .accordion-item-header-btn {
                border: none;
                background-color: #ffffff;
            }
            .accordion-item-content {
                display: none;
            }
            .accordion-item.show .accordion-item-content {
                padding: 10px 15px;
                display: block;
            }
        }