.header-mobile {
    display: none;
    @media(max-width: 800px) {
        display: flex;
        justify-content: space-between;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.menu-btn--mobile {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15.75px;
    right: 17.25px;
    width: 30px;
    height: 33px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn--mobile>span,
.menu-btn--mobile>span::before,
.menu-btn--mobile>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #004685;
    transition-duration: .25s;
}

.menu-btn--mobile>span::before {
    content: '';
    top: -8px;
}

.menu-btn--mobile>span::after {
    content: '';
    top: 8px;
}

.header__menubox--mobile {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 268px;
    height: 721px;
    margin-top: 69px;
    padding: 21px 20px;
    background-color: #ffffff;
    opacity: 0.95;
    transition-duration: 0.3s;
    z-index: 999;
    list-style: none;
    border-top: 2px solid #00468533;
}

.header__menubox--small {
    list-style: none;
    padding-left: 0;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #004685;
    text-decoration: none;
    padding-left: 0%;
}

.menu-item:hover {
    text-decoration: underline;
}

.menu-item:active {
    opacity: 0.7;
}

.menu-item--large {
    text-transform: uppercase;
    font-weight: bold;
}

#menu-toggle--mobile {
    opacity: 0;
}

#menu-toggle--mobile:checked~.menu-btn--mobile>span {
    transform: rotate(45deg);
}

#menu-toggle--mobile:checked~.menu-btn--mobile>span::before {
    top: 0;
    transform: rotate(0);
}

#menu-toggle--mobile:checked~.menu-btn--mobile>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle--mobile:checked~.header__menubox--mobile {
    visibility: visible;
    right: 0;
    top: 0px;
    width: 268px;
}