.navigation {
    text-align: center;
    padding-top: 30px;
}

@media(max-width: 800px) {
    .navigation {
        display: none;
    }
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    list-style: none;
    margin: auto;
    padding-left: 0;
}

.navigation__list-item {
    margin-right: 28.5px;
    margin-top: 10px;
}

.navigation__list-item-link {
    color: #004685;
    text-decoration: none;
    border-bottom: 1px solid #00468533;
    &:hover {
        color: #00468575;
    }
}